# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
car1=pd.read_csv("cars1.csv")
car1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

In [3]:
car2=pd.read_csv("cars2.csv")
car2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

   ### Step 3. Assign each to a variable called cars1 and cars2

In [4]:
print(car1.head())
print(car2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
car1=car1.dropna(axis=1 ,how="all")
car1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [6]:
print(car1.shape)
print(car2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [7]:
cars = car1.append(car2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [8]:
cars.shape

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [9]:
owner=np.random.randint(15000 ,high=73000 , size=398 , dtype='l' )
owner

array([39526, 43131, 58308, 43509, 47645, 49297, 56441, 45708, 48364,
       70976, 33398, 33256, 60193, 69735, 49700, 39558, 62743, 26198,
       30591, 22966, 46713, 50225, 54140, 22348, 65817, 39608, 57845,
       27282, 20509, 55205, 67021, 52205, 45453, 67970, 46816, 34018,
       46311, 55524, 46881, 51760, 62432, 47832, 41107, 44307, 24574,
       25642, 45331, 71521, 19384, 20203, 15451, 44290, 23643, 18155,
       31219, 28918, 18780, 18455, 34244, 18042, 32543, 33402, 64444,
       66844, 38940, 46600, 70459, 35314, 43125, 32571, 39273, 68230,
       62934, 43357, 49515, 30602, 23661, 52043, 19176, 22828, 25503,
       36810, 70820, 38155, 20651, 32635, 63195, 36971, 23524, 42345,
       51771, 35162, 32248, 56597, 68182, 42827, 67315, 43206, 60758,
       35748, 72296, 65532, 37034, 64416, 68617, 60443, 54909, 43235,
       39487, 15398, 20905, 31962, 66432, 38851, 58129, 59649, 37979,
       51673, 29383, 38406, 55885, 56121, 46502, 49114, 49222, 30166,
       30215, 39680, 48808, 33089, 72020, 49786, 22523, 50275, 23684,
       28793, 70362, 38737, 23524, 35895, 49908, 36974, 40516, 58171,
       35193, 38935, 59456, 33183, 32151, 60362, 40242, 25657, 57355,
       26511, 64902, 59113, 32509, 63362, 45299, 27077, 63812, 66900,
       21386, 48047, 45212, 23542, 34965, 31496, 52161, 18067, 70897,
       34319, 44468, 17651, 45404, 15328, 32039, 50661, 63649, 19735,
       52257, 64244, 27874, 69002, 42112, 62381, 55704, 46129, 71616,
       20114, 63518, 58156, 50881, 43261, 36185, 21486, 41017, 49700,
       47079, 50264, 72234, 15257, 42125, 38440, 46177, 18837, 55116,
       40355, 29071, 46849, 60896, 58868, 70064, 72062, 46385, 55764,
       42962, 15048, 16401, 70958, 35459, 60197, 53487, 22933, 65954,
       19664, 70892, 33453, 45175, 68386, 69685, 55481, 42111, 50303,
       55084, 55551, 59496, 24222, 36318, 46904, 35284, 18570, 34396,
       26633, 22213, 35728, 33936, 22852, 15865, 28997, 60190, 22587,
       26237, 54359, 23824, 42199, 37571, 25747, 67834, 65503, 16503,
       20299, 37151, 36550, 36714, 28750, 69172, 21275, 46679, 38432,
       15788, 61835, 34101, 66875, 25365, 48609, 50542, 35823, 35036,
       45700, 31274, 39822, 33444, 23053, 20356, 69422, 44548, 41496,
       68678, 29464, 68799, 51847, 62464, 72840, 27614, 60693, 68624,
       59235, 54887, 60633, 69424, 70723, 54113, 20481, 26167, 16163,
       61011, 62879, 63617, 24737, 65053, 52524, 18366, 24163, 35548,
       33379, 53737, 66737, 72556, 40843, 53634, 41022, 54056, 59585,
       52429, 44502, 42174, 40099, 61413, 32562, 52156, 33473, 41267,
       31970, 18029, 64888, 49512, 34396, 63185, 44717, 66260, 35480,
       51742, 38042, 38292, 56235, 64159, 67997, 31685, 54956, 38753,
       18249, 25011, 24028, 58807, 28949, 29850, 65438, 30428, 33107,
       41597, 71080, 63603, 51694, 34354, 43417, 55706, 56432, 42805,
       24770, 59527, 45937, 46159, 36382, 29840, 69199, 46028, 67061,
       70973, 30563, 19743, 71497, 23307, 67212, 45468, 35390, 50599,
       15066, 18455, 32986, 35065, 50336, 36260, 26924, 63895, 42315,
       17821, 57519])

### Step 8. Add the column owners to cars

In [10]:
cars["owners"]=owner

In [11]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,39526
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,43131
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,58308
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,43509
4,17.0,8,302,140,3449,10.5,70,1,ford torino,47645
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,26924
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,63895
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,42315
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,17821
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,57519